@import '../css/js-clock.css';
@import '../css/js-greetings.css';
@import '../css/js-todo.css';
@import '../css/js-weather.css';

*{
    font-family: monospace;
    text-align: center;
    color: ghostwhite;
    font-style: bold;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
img{
    width: 100%;
    height: 100%;
}


@media (max-width: 600px){
    #js-clock{
        font-weight: 700;
        font-size: 60px;
        position: relative;
        bottom: 10px;
    }
    .js-greetings{
        font-size: 25px;
    }
}